<ul class="nav nav-tabs">
  <li *ngFor="#tab of tabs" [class.active]="tab.active" (click)="onTabClick(tab)">
    <a href="#">{{ tab.title }}</a>
  </li>
</ul>
<div>
  <div *ngIf="showTopNavigationButtons" class="button-container">
    <button *ngIf="hasPreviousStep" class="btn pull-left" (click)="onButtonClick(NavigationDirection.PREVIOUS)">Previous</button>
    <button *ngIf="hasNextStep" class="btn pull-right" (click)="onButtonClick(NavigationDirection.NEXT)">Next</button>
  </div>
  <ng-content></ng-content>
  <div *ngIf="showBottomNavigationButtons" class="button-container">
    <button *ngIf="hasPreviousStep" class="btn pull-left" (click)="onButtonClick(NavigationDirection.PREVIOUS)">Previous</button>
    <button *ngIf="hasNextStep" class="btn pull-right" (click)="onButtonClick(NavigationDirection.NEXT)">Next</button>
  </div>
</div>